<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"></head>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/booking">My Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/expedia_history">Expedia History</a>
                </li>
            </ul>
            <form class="d-inline-flex p-2" method="post" action="/search">
                <input class="form-control me-2" type="text" placeholder="Search for Hotels" name="searchColumn">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            <form class="d-inline-flex p-2" method="post" action="/logout">
                <button class="btn btn-dark" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>
<!--<a href="/home">Home</a>-->

<!--<form method="post" action="/logout">-->
<!--    <input type="submit" value="Logout">-->
<!--</form>-->
<div class="container p-1 my-2">
    <h3>My Bookings</h3>
    #if($!removeBookingError)
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Error</strong> $removeBookingError
    </div>
    #end
    #if($!removeBookingSuccess)
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Success</strong> $removeBookingSuccess
    </div>
    #end


    #foreach($booking in $bookings)
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><a href=/hotel?hotelId=$booking.hotelId()>$booking.hotelName()</a></h4>
            <h6 class="card-subtitle mb-2 text-muted">Booked at $booking.timeBooked().toString().replaceAll('T', ' ')</h6>
            <h6 class="card-subtitle mb-2">$booking.numRooms() room(s) from $booking.startDate() to $booking.endDate() </h6>

            <div class="col-2">
                <form action=/delete_booking?booking_id=$booking.bookingId() method="post">
                    <button type="submit" class="btn btn-primary btn-sm">Delete this booking</button>
                </form>
            </div>
        </div>
    </div>
    #end

</div>

</body>
</html>