<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h3>Hello, $username</h3>

<form method="post" action="/logout">
    <input type="submit" value="Logout">
</form>

<p>Search Hotels</p>
<form method="post" action="/search">
    <label>
        <input type="text" name="searchColumn">
    </label>
    <label>
        <input type="submit" value="Search">
    </label>

</form>

<p>Hotels</p>
<table>
    <tr>
        <td>Hotel</td>
        <td>Address</td>
        <td>City</td>
        <td>State</td>
        <td>Country</td>
    </tr>
#foreach($hotel in $hotels)
    $hotel
#end
</table>
#foreach($pagelink in $pages)
    $pagelink
#end

</body>
</html>