<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css"/>
    <script src="javascript/getWeather.js"></script>
    <script src="javascript/favoriteScript.js"></script>
    <script src="javascript/LikeReviewScript.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/booking">My Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/expedia_history">Expedia History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/favorites">My Favorite Hotels</a>
                </li>
            </ul>
            <form class="d-inline-flex p-2" method="post" action="/search">
                <input class="form-control me-2" type="text" placeholder="Search for Hotels" name="searchColumn">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            <form class="d-inline-flex p-2" method="post" action="/logout">
                <button class="btn btn-dark" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>


<div class="container p-5 my-2 bg-dark text-white">
    <h3>$hotel.name()</h3>
    <p>Hotel Address: $hotel.addr(), $hotel.city(), $hotel.state()  $Expedia </p>
    <p class="-summary">Average Rating: $avgRating</p>   <p id="weather"></p>
    <script>checkLike()</script>
    <button id="like" class="btn btn-light" onclick="likeOrUnlike()"></button>
</div>
<div id="map_tag" class="container p-3 my-2">
    <h3>Map</h3>
</div>
<div id="map" class="leaflet-container container-md"></div>
<script src="javascript/mapScript.js"></script>


<div class="container p-3 my-2">
    <h4>Book this hotel</h4>
    <form method="post" action="/booking" id="bookingForm">
        <div class="row">
            <div class="col-md">
                <label >Start date</label>
            </div>
            <div class="col-sm">
                <input type="date" id="start" name="startDate" min="2022-11-20" max="2023-02-28" class="form-control" name="startDate" required>
            </div>
            <div class="col-md">
                <label class="form-label">End date</label>
            </div>
            <div class="col-sm">
                <input type="date" id="end" name="endDate" min="2022-11-20" max="2023-02-28" class="form-control" name="endDate" required>
            </div>
            <div class="col-sm-1">
                <label class="form-label">Rooms</label>
            </div>
            <div class="col-sm-1">
                <select class="form-select" name="numDays">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="col-sm-1">
                <input type="submit" class="btn btn-success" value="Book">
            </div>
        </div>
    </form>
</div>


#if($!BookingError)
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Error: </strong> $BookingError
</div>
#end
#if($!BookingSuccess)
<div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Success: </strong> $BookingSuccess
</div>
#end
<div class="container p-3 my-2">
    <h4>Add New Review</h4>
    <form method="post" action="/review" id="reviewForm">
        <div class="row">
            <div class="col-8">
                <label class="form-label">Title</label>
                #if($!title)
                <input type="text" class="form-control" placeholder="Enter title" name="title" value=$title required>
                #else
                <input type="text" class="form-control" placeholder="Enter title" name="title" required>
                #end
            </div>
            <div class="col-1">
                <label class="form-label">Rating</label>
                #if($!prev_rating)
                <input type="range" class="form-range" min="1" max="5" name="rating" value=$prev_rating>
                #else
                <input type="range" class="form-range" min="1" max="5" name="rating" value="5">
                #end
                <!--            <input type="text" class="form-control" placeholder="Enter rating" name="rating">-->
            </div>
        </div>
    </form>
    <div class="col-12">
        <label for="comment">Comments:</label>
        <textarea class="form-control" rows="5" id="comment" name="comment" form="reviewForm" placeholder="Add comments here">
#if($!comments)
$comments
#end
</textarea>
    </div>
    <p></p>
    <input type="submit" class="btn btn-success" value="Submit" form="reviewForm">


</div>

#if($!RatingError)
<p style="color:red;">$RatingError</p>
#end

<div class="container p-3 my-2">
    <h3>Reviews </h3>
    <br>
    #foreach($r in $reviews)
    <div class="card">
        <div class="card-body">
            #if($r.title() == "")
            <h4 class="card-title">No title</h4>
            #else
            <h4 class="card-title">$r.title()</h4>
            #end
            <h6 class="card-subtitle mb-2 text-muted">$r.username(), $r.reviewDate().toString().replace('T', ' ')</h6>
            <div class="row">
                <div class="col-8">
                    <p class="card-text">$r.reviewText()</p>
                </div>
                <div class="col-1">
                    <p class="card-text text-muted">$r.rating() Star</p>
                </div>
                <div class="col-1">
                    <script>checkLikeReview("$r.reviewId()")</script>
                    <button id=$r.reviewId() class="btn btn-primary btn-sm" onclick='likeOrUnlikeReview("$r.reviewId()")'></button>
                </div>
                #if($r.editable() && !$editMode)
                <div class="col-1">
                    <form action=/edit?reviewId=$r.reviewId() method="post">
                        <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                    </form>
                </div>
                <div class="col-1">
                    <form action=/delete?reviewId=$r.reviewId() method="post">
                        <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                    </form>
                </div>
                #end
            </div>
        </div>
        <div class="card-footer" id="review_footer">
            <script>getLikes("$r.reviewId()")</script>
            <p id=helpful$r.reviewId()></p>
        </div>
    </div>
    #end

</div>


<ul class="pagination justify-content-center">
    #foreach($pagelink in $pages)
        #if($velocityCount == $currentPage)
        <li class="page-item active"><a class="page-link" href=$pagelink>$velocityCount</a></li>
        #else
        <li class="page-item"><a class="page-link" href=$pagelink>$velocityCount</a></li>
        #end
    #end
</ul>

</body>
</html>