<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
</head>
<body>

<form method="get" action="/home">
    <input type="submit" value="Home">
</form>

<h3>$hotel.name()</h3>
<p>Hotel Address: $hotel.addr(), $hotel.city(), $hotel.state()  $Expedia</p>

<table style="width:100%">
    <tr>
        <td style="width:25%">Number of Reviews: $rating.numReviews()</td>
        <td style="width:25%">Average Rating: $rating.avgRating() /5</td>
        <td style="width:25%">Cleanliness: $rating.cleanliness() /5</td>
        <td style="width:25%">Service: $rating.service() /5</td>
    </tr>
    <tr>
        <td style="width:25%">Room Comfort: $rating.roomComfort() /5</td>
        <td style="width:25%">Hotel Condition: $rating.hotelCondition() /5</td>
        <td style="width:25%">Convenience: $rating.convenience() /5</td>
        <td style="width:25%">Neighborhood: $rating.neighborhood() /5</td>
    </tr>
</table>

<br>
<form method="post" action="/review" id="reviewForm">
    Title:
    <label>
        <input type="text" name="title" size="24">
    </label>
    Rating:
    <label>
        <input type="text" name="rating" maxlength="1" size="2">
    </label>
    <label><input type="submit"></label>
</form>
<textarea rows="4" cols="50" name="comment" form="reviewForm">
$comments</textarea>
#if($!RatingError)
<p style="color:red;">$RatingError</p>
#end

<h3>Reviews </h3>
<br>
<table>
#foreach($review in $reviews)
    $review
#end
</table>

</body>
</html>