<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"></head>
</head>
<body>
<h2>Register your account</h2>

<form method="post" action="/register" class="needs-validation">
    <div class="mb-3 mt-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
        <div class="invalid-feedback">Username cannot be empty!</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" pattern="[A-Za-z_1-9]{8,}" name="password" required>
        <div class="invalid-feedback">Password cannot be empty!</div>
    </div>
    <button type="submit" class="btn btn-primary">Create new account</button>
</form>

<!--<form method="post" action="/register">-->
<!--    Username-->
<!--    <label>-->
<!--        <input type="text" name="username" required>-->
<!--    </label><br>-->
<!--    Password-->
<!--    <label>-->
<!--        <input type="password" name="password"  pattern="[A-Za-z_1-9]{8,}" required>-->
<!--    </label><br>-->
<!--    <p><input type="submit" value="Submit"></p>-->
<!--</form>-->
#if($!registerError)

<div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Error</strong> $registerError
</div>
#end

<footer><a href="/login">Login</a></footer>
</body>
</html>